################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMCapital/config/applicationhost.config
/.vs/CMCapital/FileContentIndex/112dd9b7-71d2-4107-b90a-6ba3f407deb4.vsidx
/.vs/CMCapital/v17/.suo
/.vs/CMCapital/FileContentIndex/38565fd2-bec9-4b6f-83dc-a3bff1650c87.vsidx
/.vs/CMCapital/FileContentIndex
/CMCapital.Server/bin/Debug/net8.0/af
/CMCapital.Server/bin/Debug/net8.0/ar
/CMCapital.Server/bin/Debug/net8.0/az
/CMCapital.Server/bin/Debug/net8.0/bg
/CMCapital.Server/bin/Debug/net8.0/bn-BD
/CMCapital.Server/bin/Debug/net8.0/cs
/CMCapital.Server/bin/Debug/net8.0/da
/CMCapital.Server/bin/Debug/net8.0/de
/CMCapital.Server/bin/Debug/net8.0/el
/CMCapital.Server/bin/Debug/net8.0/es
